@mixin styles {
  * {
    --text-color: #253146;
    --ink: #101e2b;
    --black: #000000;
    --accent: #5fafff;
    --accent-bg: #e6f8fc;
    --accent-light: #5fafff26;
    --gray: #fafafa;
    --gray-2: #ececec;
    --gray-3: #767676;
    --okay: #5faf5f;
    --okay-bg: #eff8ef;
    --warn: #875fd7;
    --warn-bg: #f3effb;
    --caution: #ff8700;
    --caution-bg: #fdf1e6;
    --error: #ff5f5f;
    --error-bg: #fce6e6;
    --error-2: #ff5f5f;
    --log-info: #000000;
    --log-debug: #5fafff;
    --log-warn: #875fd7;
    --log-error: #ff5f5f;
  }

  * {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    letter-spacing: 0.25px;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Inter,
      Vazirmatn,
      ui-sans-serif,
      system-ui,
      Segoe UI,
      Roboto,
      Ubuntu,
      Cantarell,
      Noto Sans,
      sans-serif,
      Helvetica Neue,
      Arial,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
