@use "left-tab";
@use "right-content";

* {
  --text-color: #253146;
  --ink: #101e2b;
  --mute: #999999;
  --accent: #1461dc;
  --line: #eaeaea;
  --surface: #fafafa;
  --surface-2: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
  letter-spacing: 0.25px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Inter,
    Vazirmatn,
    ui-sans-serif,
    system-ui,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    Helvetica Neue,
    Arial,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;

  &[data-rendered="0"] * {
    transition: none !important;
  }

  @include left-tab.styles;
  @include right-content.styles;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

span.material-symbols-outlined {
  z-index: 1;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: medium;
  pointer-events: none;
}

@media (min-width: 768px) {
  section.left-tab {
    width: var(--width-left-tab);
  }
  section.right-content {
    width: calc(100% - var(--width-left-tab));
  }

  &:has(section.left-tab[data-collapsed="1"]) {
    section.left-tab {
      width: var(--width-left-tab-collaspse);
    }
    section.right-content {
      width: calc(100% - var(--width-left-tab-collaspse));
    }
  }
}
