@use "sass:list";

$gridBreakpoints: 768px, 1024px, 1280px, 1600px, 1920px, 2240px, 2560px;

@mixin gridItem($offset: 0) {
  flex: 0 0 auto;
  width: 100%;

  @for $i from 1 through list.length($gridBreakpoints) {
    $columns: $i + 1 + $offset;

    @if $columns > 1 {
      @media (min-width: list.nth($gridBreakpoints, $i)) {
        width: calc((100% - 1rem * #{$columns - 1}) / #{$columns});
      }
    }
  }
}
