@use "collapsed";
@use "show";

* {
  --width-left-tab: 16rem;
  --width-left-tab-collaspse: 2.5rem;
}

@mixin styles {
  section.left-tab {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: var(--gray);
    transition: 0.2s;

    width: var(--width-left-tab-collaspse);

    @media (max-width: 767.99px) {
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;

      @include collapsed.styles;

      &[data-collapsed="0"] {
        width: var(--width-left-tab);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

        @include show.styles;
      }
    }

    @media (min-width: 768px) {
      width: var(--width-left-tab);

      @include show.styles;

      &[data-collapsed="1"] {
        @include collapsed.styles;
      }
    }

    header {
      position: relative;
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 0.5rem;
      padding: 0 0.5rem;
      width: 100%;
      height: 2.5rem;

      img {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0.25rem;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 1;
        transition: 0.2s;
      }

      p {
        flex-grow: 1;
        flex-shrink: 0;
        line-height: 2rem;
        font-size: small;
        font-weight: 300;
      }

      button {
        z-index: 1;
      }
    }

    > section.chats {
      flex-flow: column;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: scroll;
    }

    details.group {
      display: flex;
      flex-flow: column;

      &[open] > summary span {
        transform: rotate(180deg);
      }

      > section {
        flex-grow: 1;
      }

      > summary {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        margin-top: 1rem;
        padding: 0 0.75rem;
        height: 1.5rem;
        line-height: 1.5rem;
        list-style: none;
        font-size: small;
        font-weight: 300;
        color: var(--gray-3);
        cursor: pointer;
        user-select: none;
        transition: 0.2s;

        &::-webkit-details-marker {
          display: none;
        }

        @media (hover: hover) {
          &:hover {
            color: var(--black);
          }
        }

        span {
          width: 1.5rem;
          height: 1.5rem;
          line-height: 1.5rem;
          font-size: large;
          transition: 0.2s;
        }
      }
    }

    section:not(.chats) {
      position: relative;
      display: flex;
      flex-flow: column;

      > a,
      > div {
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 0.75rem;
        padding: 0 0.75rem;
        width: 100%;
        max-width: 100%;
        height: 2rem;
        color: var(--black);
        text-decoration: none;
        cursor: pointer;

        @media (hover: hover) {
          &:hover:before {
            opacity: 1;
          }
        }

        &:before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0rem;
          left: 0.125rem;
          width: calc(100% - 0.25rem);
          height: 100%;
          border-radius: 0.75rem;
          background-color: var(--gray-2);
          opacity: 0;
          transition: 0.2s;
        }

        &[data-selected="1"]:before {
          opacity: 1;
        }

        p,
        > a {
          z-index: 1;
          display: block;
          flex-grow: 1;
          flex-shrink: 1;
          min-width: 0;
          max-width: 100%;
          line-height: 2rem;
          font-size: small;
          font-weight: 300;
          color: inherit;
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      button.more {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        color: var(--black);
      }

      div.menu {
        z-index: 20;
        position: absolute;
        top: 100%;
        right: 0.125rem;
        display: none;
        flex-flow: column;
        align-items: stretch;
        gap: 0.125rem;
        padding: 0.25rem;
        width: auto;
        min-width: 8rem;
        max-width: calc(100% - 0.25rem);
        height: auto;
        border-radius: 0.625rem;
        background-color: #fff;
        border: 1px solid var(--gray-2);
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.14);
        cursor: default;

        &[data-show="1"] {
          display: flex;
        }

        button {
          display: flex;
          flex-flow: row;
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem 0.625rem;
          border-radius: 0.375rem;
          transition: 0.2s;

          p {
            z-index: 1;
            line-height: 1rem;
            font-size: small;
            font-weight: 300;
          }

          @media (hover: hover) {
            &:hover {
              background-color: var(--gray);
            }
          }

          &.remove {
            color: var(--error);

            @media (hover: hover) {
              &:hover {
                color: var(--error-2);
              }
            }
          }
        }
      }
    }

    footer {
      a,
      div {
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 0.5rem;
        padding: 0 0.75rem;
        width: 100%;
        height: 2rem;
        color: var(--black);
        text-decoration: none;
        cursor: pointer;

        @media (hover: hover) {
          &:hover:before {
            opacity: 1;
          }
        }

        &:before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0rem;
          left: 0.125rem;
          width: calc(100% - 0.25rem);
          height: 100%;
          border-radius: 0.75rem;
          background-color: var(--gray-2);
          opacity: 0;
          transition: 0.2s;
        }

        &[data-selected="1"]:before {
          opacity: 1;
        }

        p {
          z-index: 1;
          flex-grow: 1;
          flex-shrink: 0;
          line-height: 2rem;
          font-size: small;
          font-weight: 300;
        }
      }
    }
  }
}
