@mixin styles {
  header {
    img {
      position: relative;
    }

    p {
      display: block;
    }

    a,
    button {
      opacity: 1;
    }
  }

  > section.chats > details {
    display: flex;

    &[data-hide="1"] {
      display: none;

      @media (max-width: 1279px) {
        display: flex;
      }
    }
  }

  section:not(.chats),
  footer {
    > a,
    > div {
      &:after {
        opacity: 0 !important;
      }
    }
  }

  section {
    &[data-name]:not([data-name=""]) {
      &:after {
        display: block;
      }

      > a,
      > div {
        display: flex;
      }
    }

    a p,
    div p {
      display: block;
    }
  }

  footer {
    a p,
    div p {
      display: block;
    }
  }
}
