@mixin styles {
  header {
    img {
      position: relative;
    }

    p {
      display: block;
    }

    a,
    button {
      opacity: 1;
    }
  }

  > section.chats > details {
    display: flex;
  }

  section {
    &[data-name]:not([data-name=""]) {
      &:after {
        display: block;
      }

      > a,
      > div {
        display: flex;
      }
    }

    a p,
    div p {
      display: block;
    }
  }

  footer {
    a p,
    div p {
      display: block;
    }
  }
}
